<VirtualHost *:{{ https_port }}>
  ServerAdmin {{ apache_admin_mail }}
  ServerName {{ apache_hostname }}
  ServerAlias {{ apache_hostname_alias }}

  DocumentRoot /var/www/site/docroot

	SSLEngine ON
	SSLCertificateFile    /etc/ssl/certs/ssl-cert-snakeoil.pem
	SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key
</VirtualHost>